/* font collections */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* font collections */
html
{
    scroll-behavior: smooth;
}
/* header section here */
.my-logo img{
    width: 120px;
    height: auto;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Rubik', sans-serif !important;
}
.my-navbar
{
    position: relative;
    top: 75px;
}
.my-navbar ul li
{
    margin-left: 50px;
    color: black !important;
}
header
{
    background-image: url(images/elements/Decore.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: -52px;
    height: 100vh;
    width: 100%;
}
.header-text
{
    position: relative;
    top: 50px;
    width: 630px;
    height: auto;
}
.header-text-title
{
    font-size: 17px;
    font-weight: 400;
    color: #DF6951;
}
.header-text h1{
    font-size: 84px;
    font-weight: bolder;
    letter-spacing: 0px;
    margin-bottom: 10px;
    margin-top: -15px;
    color: #DF6951;
}
.header-text small > p
{
    font-size: 18px;
    width: 490px;
    height: auto;
    text-align: justify;
}
.header-text-btn
{
    position: relative;
}
.header-text-btn > a
{
    background: #DF6951;
    padding: 10px 25px;
    border-radius: 10px;
}
.header-text-btn > a:focus
{
    box-shadow: none !important;
}
.header-text-btn img {
    width: 85px;
    height: auto;
    position: absolute;
    left: 30%;
    top: -13%;
}
.header-text-images
{
    position: relative;
    top: 100px;
}
.right-side-image img
{
    width: 653px;
    height: auto;
}
/* header section here */

/* main start from here */
.categorys{
    margin: 110px auto;
}
.categorys-title
{
    font-size: 50px;
}
.c-text
{
    font-size: 21px;
    color: #5E6282;
    margin-bottom: 3px;
    letter-spacing: 2px;
}
.categorys-text
{
    margin: 68px auto 0px;
    height: 216px;
    position: relative;
        
}
.categorys-text h5{
    font-size: 17px;
    margin-top: 95px;
}
.categorys-text p
{
    margin: 12px auto 0px;
    width: 181px;
    font-size: 13px;
    margin-bottom: 0px;
    color: #5E6282;
}
.categorys-text img
{
    width: 68px;
    text-align: center;
    position: absolute;
    left: 128px;
}
.plane-div
{
    border-radius: 40px;
    box-shadow: 5px 0px 16px 3px rgb(0 0 0 / 24%);
    width: 230px;
    height: 251px;
}
.plane
{
    width: 118px !important;
    position: absolute!important;
    left: 75px !important;
    top: -15px;
}
.local-events
{
    width: 56px !important;
}

/* Destinations section */
.destination-card{
    width: 377px;
    height: 541px;
    margin: 70px auto 0px;
    box-shadow: 2px 0px 8px 3px rgb(0 0 0 / 13%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0px !important;
}

.destination-card img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.destination-text p {
    margin-bottom: 6px;
    color: #5E6282;
}
/* Destinations section */

/* next trip section */
.trip-title{
    font-size: 60px;
}
.next-trip-info{
    width: 396px;
}
.trip-icon{
    width: 56px;
    height: auto;
}
.trip-text{
    margin-left: 28px;
}

.trip-text h4{
    color: #5E6282;
    font-size: 22px;
    margin-bottom: 3px;
}
.trip-text p{
    margin-bottom: 0px;
    width: 350px;
}
.card{
    padding: 10px;
    border-radius: 30px;
    position: relative;
    top: 120px;
    width: 280px;
    height: 350px;
    border: none !important;
    box-shadow: 2px 0px 8px 3px rgb(0 0 0 / 13%);
}
.card-body
{
    margin-top: 4px;
    margin-left: -11px;
}
.card-body h4{
    color: #5E6282;
}
.card-body p
{
    color: #5E6282;
}
.card img
{
    border-radius: 25px;
}
.second-card
{
    position: absolute;
    padding: 13px;
    width: 320px;
    height: 127px;
    left: 255px;
    top: 131px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 3px rgb(0 0 0 / 21%);
    z-index: 10;
    background: white;
}
.second-card img
{
    width: 40px;
    border-radius: 100%;
    position: relative;
    top: -19px;
}
.second-card-body
{
    margin-left: 13px;
}
.second-card-body p {
    margin-bottom: 3px;
}
.my-progress
{
    position: absolute;
    top: 101px;
    width: 92%;
}
/* next trip section */

/* compliment section  */
.compliment
{
    margin: 110px auto;
}
.sliders{
    margin-top: 170px;
}
.slider-icon-1
{
    margin-left: 10px;
    background:#DF6951 ;
    height: 10px;
    width: 30px;
    border-radius: 100px;
    cursor: pointer;
}
.slider-icon
{
    margin-left: 10px;
    background:#9a9ba1 ;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.slider-icon:hover{
    transition: .5s;
    background: #DF6951;
}
.compliment-right{
    position: relative;
    background-image: url(images/elements/Pagination.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 90px;
}
.right-side-compliment
{
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    width: 400px;
    height: 245px;
    box-shadow: 0px 5px 8px 3px rgb(0 0 0 / 21%);
}
.right-side-compliment img
{
    position: absolute;
    top: -2%;
    left: 2%;
    transform: translate(-50%, -50%);
}
/* compliment section  */


/* main start from here */

/* responsive for mobile */
@media screen and (max-width:688px) {
    .row
    {
        margin: 0px 0px !important;
    }
    header
    {
        background-image: none;
        
    }
    .header-text-images
    {
        padding: 0px !important;
        position: relative;
        top: 100px;
    }
    .header-text h1{
        font-size: 47px;
        font-weight: bolder;
        letter-spacing: 0px;
        margin-bottom: 19px;
        margin-top: -15px;
        color: #DF6951;
    }
    .header-text small > p
    {
        font-size: 18px;
        width: 327px;
        height: auto;
        text-align: justify;
    }
    .header-text-btn img {
        width: 85px;
        height: auto;
        position: absolute;
        left: 50%;
        top: -13%;
    }
    .right-side-image img
    {   
        width: 400px;        
        height: auto;        
        position: relative;        
        left: -80px;        
        top: 69px;
    }
    .categorys{
        margin: 280px auto 0px;
    }
    .destination-card{
        width: 330px;
        height: 541px;
        margin: 70px auto 0px;
        box-shadow: 2px 0px 8px 3px rgb(0 0 0 / 13%);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 0px !important;
    }
    .right-side-compliment
    {
        padding: 40px;
        border-radius: 20px;
        position: absolute;
        top: 10px;
        width: 278px;
        height: 301px;
        box-shadow: 0px 5px 8px 3px rgb(0 0 0 / 21%);
    }
     .right-side-compliment img
    {
        position: absolute;
        top: -4%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .compliment
    {
        margin: 260px auto 100px;
    }
    .sliders
    {
        margin-top: 70px;
    }
    .second-card
    {
        position: absolute;
        padding: 13px;
        width: 280px;
        height: 127px;
        left: 40px;
        top: 315px;
        border-radius: 10px;
        background: white;
    }
}
/* responsive for mobile */

/* responsive for tablet */
@media screen and (max-width:992px) {
    header
    {
        background-size: cover;
    }
    .header-text h1{
        font-size: 47px;
        font-weight: bolder;
        letter-spacing: 0px;
        margin-bottom: 19px;
        margin-top: -15px;
        color: #DF6951;
    }
    .my-navbar ul li
    {   
        margin: 0px;
        color: black !important;
        font-size: 13px;
        font-weight: 600;
    }
}
/* responsive for tablet */
